{% extends 'base.html' %}
{% block title %} Confirm movie {% endblock %}
{% block side %}

  <div class="card" style="width: 38rem">
    <div class="card-body">
      <h5 class="color_text">Czy napewno chcesz usunąć: "{{ movie.title }}" film?</h5>
      <br>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger all_buttons">Usuń film<i class="fas fa-trash-alt icon_in_button"></i></button>
        </form>
    </div>
  </div>

  <a href="{% url 'index_movies' %}" class="btn btn-primary all_buttons mt-3">Cofnij<i class="fas fa-step-backward icon_in_button"></i></a>

{% endblock %}