{% extends 'base.html' %}
{% load bootstrap %}
{% block title %} Film form {% endblock %}

{% block side %}

    <div class="card" style="width: 38rem">
      <div class="card-body">
        {% if new %}
          <h5 class="color_text">Nowy film</h5>
        {% else %}
          <h5 class="color_text">Edytuj film</h5>
        {% endif %}

        <br>

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|bootstrap }}
          <br>
          {% if new %}
            <button type="submit" class="btn btn-primary all_buttons">Dodaj<i class="fas fa-plus-square icon_in_button"></i></button>
          {% else %}
            <button type="submit" class="btn btn-primary all_buttons">Edytuj<i class="fas fa-edit icon_in_button"></i></button>
          {% endif %}
        </form>
      </div>
    </div>


  <a href="{% url 'main_movies'%}" class="btn btn-primary all_buttons mt-3">Cofnij<i class="fas fa-step-backward icon_in_button "></i></a>

{% endblock %}