{% extends 'base.html' %}
{% block title %} List of movies {% endblock %}
{% block side %}

  <div class="alert alert-light" role="alert">
    {% if user.is_authenticated %}
      <h1 class="display-5 color_text">Witaj {{ user.username }}</h1>
      <a href="{% url 'logout' %}" class="btn btn-primary logout_buttons">Wyloguj<i class="fas fa-sign-out-alt icon_in_button"></i></a>
    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary all_buttons">Zaloguj<i class="fas fa-sign-in-alt icon_in_button"></i></a>
    {% endif %}
  </div>

  <a href="{% url 'create_movie' %}" class="btn btn-primary all_buttons mb-3">Dodaj film<i class="fas fa-plus-square icon_in_button"></i></a>

  {% if movies|length == 0 %}
    <h2>Brak filmów</h2>
  {% else %}
    <!--<h2>Ilość filmów: {{ movies|length }} </h2> -->
    <br>
    {% for movie in movies %}
      <div class="card mb-3" style="width: 38rem">
        <div class="card-body">

          <img src="/media/{{ movie.poster }}" class="movie-poster">

          <div class="row">
            <div class="col-10">
              <a href="{% url 'details_movie' movie.id %}"><h5 class="color_text">{{movie}}</h5></a>
            </div>
            <div class="col-2">
              <a href="{% url 'update_movie' movie.id  %}"><i class="fas fa-edit icon_edit"></i></a>
              <a href="{% url 'delete_movie' movie.id  %}"><i class="fas fa-trash-alt icon_delete"></i></a>
            </div>
          </div>

          <div class="row">
              <p class="card-text">{{ movie.description }}</p>
          </div>

        </div>

      </div>

    {% endfor %}
  {% endif %}

{% endblock %}